@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fresh-green: #A8D5BA;      /* Fresh Green */
  --sunny-yellow: #F6E29A;      /* Sunny Yellow */
  --juicy-orange: #FFA07A;      /* Juicy Orange */
  --light-gray: #F7F7F7;        /* Light Gray */
  --medium-gray: #D1D5DB;       /* Medium Gray */
  --soft-off-white: #FAFAFA;    /* Soft Off-White */
  --dark-gray: #4B5563;         /* Dark Gray */

  /*new color theme*/
  --whitish: #F2F2F2;
  --verde: #8C8849;
  --darkish: #2A3340;
  --orange: #EC8516;
}

.bg-gradient {
  background: linear-gradient(to bottom, var(--light-gray), var(--medium-gray));
}

body {
  background-color: black;
}